h1,h2,h3,h4,h5,h6
  font-family 'Michroma', sans-serif
  small
    font-size: 14px

h1
  font-size 28px

h2
  font-size 22px

h3
  font-size 18px

h4
  font-size 16px

p
  font-family 'Advent Pro', sans-serif
  &.copyright
    text-align center

hr
  border-top 1px solid #ccc
  margin 10px 0 20px 0

html, body
  padding-top 10px
  min-height 100%
  height auto !important
  height 100%

body
  background #3b75db
  background -moz-radial-gradient(center, ellipse cover,  #3b75db 0%, #601a60 99%)
  background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3b75db), color-stop(99%,#601a60))
  background -webkit-radial-gradient(center, ellipse cover,  #3b75db 0%,#601a60 99%)
  background -o-radial-gradient(center, ellipse cover,  #3b75db 0%,#601a60 99%)
  background -ms-radial-gradient(center, ellipse cover,  #3b75db 0%,#601a60 99%)
  background radial-gradient(ellipse at center,  #3b75db 0%,#601a60 99%)  
  background-size contain
  background-repeat no-repeat
  margin 0
  margin-top 40px
  padding 20px
  
.app
  background #fff
  
footer
  background #333333
  color #fff
  padding 10px 25px

.main
  padding 15px

.navbar
  .nav
    & > li
      & > a
        &.active
          color #000

.date
  color #999

.money
  color #2d7a03
  font-size 26px

.map
  height 500px
  width 85%

.map-view
  height: 400px
  width: 100%
  float: right

form
  width 80%
  margin 0 auto
  p.alert
    width 85%
    box-sizing: border-box
    border-radius: 0px
  
  select
    outline: none !important
    &:active,
    &:focus
      border-color: rgba(82,168,236,0.8)
  input    
    box-sizing: border-box
    height: 28px
    outline: none !important
    &:active,
    &:focus
      border-color: rgba(82,168,236,0.8)
    &.title
      background transparent
      border none
      border-bottom 1px solid #ddd
      padding 5px 10px
      box-shadow none !important
      border-radius 0px
      width 85%
      font-size 24px
      height 28px
      color #000
    &.input
      border none
      padding 5px 10px
      box-shadow none !important
      outline none
      margin-bottom 10px
      width 85%
    &[disabled="disabled"]
      background transparent
      border none
      border-bottom 1px solid #ddd
      padding 5px 10px
      box-shadow none !important
      border-radius 0px
      height: 24px
      font-size: 18px
    &[type="date"],
    &[type="time"]
      height: 28px
      width: 35%
  
  textarea
    box-sizing: border-box
    outline: none !important    
    &.textarea
      width 85%
      height 80px
      border none
      color #000
      border-bottom 1px solid #ddd
      border-right 1px solid #ddd
      box-shadow none !important
      padding 10px
      border-radius 0px
      border-radius none
      font-size 16px
      &:active,
      &:focus
        border-color: rgba(82,168,236,0.8)
  .control-label
    & > label
      text-transform uppercase
      font-family 'Advent Pro', sans-serif
      font-size 16px
      font-weight bold
      letter-spacing 1px
      color #666

#sidebar-controls
  list-style-type none
  margin 0
  li
    & > a
      margin-bottom 15px

a
  &.side-btn
    display block
    width 100%
    font-family 'Titillium Web', sans-serif
    text-align center
    font-size 16px
    color #fff
    text-decoration none
    padding 15px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    &.purple
      background #601A60
    &.blue
      background #3b75db

a.side-btn:hover,
a.side-btn.active
  font-weight bold

.locations
  width 100%
  .location
    width 33%
    display inline-block
    vertical-align top
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    background #eee
    color #fff
    padding 45px 0
    margin-top: 5px
    text-align center
    cursor pointer
    p
      margin 0
      font-family 'Titillium Web', sans-serif
      font-size 24px
      letter-spacing 3px
      text-shadow 1px 1px 0px rgba(0, 0, 0, 1)
    &:hover
      background: rgb(251, 255, 203) !important

.lifts
  width 100%
  .lift
    cursor: pointer
    display inline-block
    width 33%
    -webkit-box-shadow 1px 1px 4px 0px #ddd
    vertical-align top
    padding 10px
    color #222
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    blockquote
      min-height 45px
    &:hover
      background: rgb(251, 255, 203) !important

.pool-controls
  & > button
    background #f1f1f1
    color #999
    -webkit-box-shadow 0px 1px 1px 0px #eee
    border none
    border-top 1px solid #eee
    border-left 1px solid #eee
    text-transform uppercase
    font-weight bold
    font-family 'Arial', sans-serif
    font-size 10px
    padding 5px 10px
    border-radius 2px
    &:hover
      -webkit-box-shadow 0px 1px 1px 0px #999
    &:active
      -webkit-box-shadow inset 0px 1px 1px 0px #999
      border none
      border-bottom 1px solid #eee
      border-right 1px solid #fff


/** 
 * 	RESPONSIVE 
 */
@media (max-width: 976px)
  html, body
    padding: 0px 5px
    margin-top: 0px
@media (min-width:320px)   
  .locations,
  .lifts
    .location,
    .lift 
    	width: 100%
    	display: block
    	margin-bottom: 5px

@media (min-width:641px) 
  .locations,
  .lifts
    .location,
    .lift 
    	width: 100%
    	display: block 
    	margin-bottom: 5px 	
      

@media (min-width:961px) 
  .locations,
  .lifts
    .location,
    .lift 
    	display: inline-block
    	width: 33%